<div class="container-fluid">
  <div class="row text-center">
    <!-- add action to form -->
    <div class="col-md-10">
      <form action="/">
        <div class="form-group">
          <label>Random passcode #@ViewBag.Count: @ViewBag.String</label>
          <!-- <input type="text" class="form-control"> -->
          <br>
          <button class="btn btn-primary">Generate</button>
        </div>
      </form>
    </div>
  </div>
</div>